
*, *::before, *::after {
    box-sizing: border-box;
}

<<<<<<< Updated upstream
:root {
    --blue: rgb(50, 86, 93);
    --green: rgb(15, 80, 63);
}
=======

>>>>>>> Stashed changes

body {
    margin: 0;
    background: #222;
    font-family: 'railway' sans-serif;
    font-weight: 400;
}


/* Navigation-bar and Logo */ 