
/* *, *::before, *::after {
    box-sizing: border-box;
} */

:root {
    --blue: rgb(50, 86, 93);
    --green: rgb(15, 80, 63);
}

body {
    margin: 0;
    padding: 0;
    /* background: #222; */
    font-family: 'railway' sans-serif;
    /*font-weight: 400; */
    box-sizing: border-box;
}


/* Navigation-bar and Logo */ 


/* Booking*/
.bookingForm{
    font-family: 'railway' sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    padding: 1em;
    background-color: rgba(87, 43, 43, 0.055);
    border-radius: 0.4em;
}

.bookingForm input[type=text]{
    width: 100%;
}

.bookingForm #duration{
    width: 100%;
}

.bookingForm a{
    text-decoration: none;
} 

.toAndFrom {
   
}


.timePackage{

}


/*Package options*/
#packageIndex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;  
    align-content: center;
    width: 100%;
    font-family: 'railway' sans-serif;
}

#packageIndex .insidePackageIndex {
    background-color: rgba(87, 43, 43, 0.055);
    border-radius: 0.4em;
    position: relative;
    margin: 3em;
    width: 22em;
    height: 33em;
    letter-spacing: 1px;

}

#packageIndex .insidePackageIndex img {
    display: inline-block;
    position: relative;
    bottom: 1em;
    right: 2em;
    width: 22em; 
    height: 15em;
    overflow: hidden;
    padding: 1em 2em;
}

#packageIndex .insidePackageIndex a {
    display: inline-block;
    color: black;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

#packageIndex .insidePackageIndex  p {
    display: inline-block;
    position: relative;
    text-align: center;
    bottom: 3;
    padding: 1em 2em 2em;
    font-weight: 500;
    font-size: 0.9em;
    color: black;   
}

#packageIndex a:hover {
    color: white;
}

footer{
    position: relative;
    bottom: 0;
    text-align: center;
}